.login_page {
  display: grid;
  grid-template-columns: 1.2fr clamp(120px, auto, 500px);
  grid-template-rows: 0.2fr 0.8fr;
  width: auto;
  grid-gap: 2em;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0px #848484c4;
  padding: 1em;
}

.app_title {
  grid-area: span 1 / span 2;
  background-color: navy;
  font-family: Ovo-Regular;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  text-align: left;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}

.intro_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 20px;
  font-family: Ovo-Regular;
  font-size: 1.5rem;
  color: rgb(33, 42, 176);
}

.green {
  background-color: green;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.login_form > * {
  width: 100%;
}
